@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --color-1: #3f7fff 10%;
  --color-2: #eeeeff;
  --color-3: #ff0303;
  --color-4: #030303;
  --color-5: #e3e4fd80;
}

body {
  font-family: var(--font-roboto);
  background-color: #adaaaa;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    var(--color-1),
    rgba(189, 180, 249, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  width: fit-content;
  color: blue;
}

.app .search {
  width: 71%;
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: var(--color-2);
  -webkit-box-shadow: 5px 5px 7px var(--color-2), -5px -5px 7px var(--color-2);
  box-shadow: 0px 20px 20px -8px rgba(0, 0, 0, 0.2);

}

.app .search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #000000;
  background: var(--color-2);
}

.app .search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.app .empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .empty h2 {
  font-size: 1.25rem;
  color: var(--color-4);
  font-family: var(--font-raleway);
}

.app .container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/* ----------media-querys------------*/

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }
}